#list-nav{
	width:200px;

	position:fixed;
	display: flex;

	.listnavl{
		width:100%;
		height:100px;
		display:block;
		margin:0 auto;
		margin-top:140px;
		
		
		li{
			background:#323031;
			text-align:center;
			width:100%;
			height:150px;
			line-height:50px;
			float:left;
			line-height: 150px;
			border:1px solid #7B5919;
			a{
				font-size:25px;
				color:#E4AB4C;
			}

		}
		li:last-child{
			height: 600px;
		}
	}
}