

#overBox{
	height:100%;
	.header{
		height:0.4rem;
		display: -webkit-flex;
   		display: flex;
   		-webkit-justify-content: space-between;
   		justify-content: space-between;
   		-webkit-align-items: center;
    	align-items: center;
   		background-color:#67270E;
   		color:white;
   		margin-bottom:0.2rem;
		i{
			display:inline-block;
			font-size:0.16rem;
			width: 1.0rem;
			padding:0 0.05rem;
			height:0.3rem;
			line-height:0.3rem;
		}
		.el-icon-time{
			text-align:right;
			letter-spacing:0.02rem;
			span{

				font-size:0.14rem;
				line-height:0.3rem;
			}
		}
		h3{
			font-size:0.16rem;
			width:1.0rem;
			text-align:center;
			height:0.3rem;
			line-height:0.3rem;
		}
	}
	.contant{
		
		.contantData{
			box-sizing:border-box;
			background-color:#F8EDCF;
			height:0.6rem;
			line-height:0.6rem;
			font-size:0.15rem;
			width:95%;
			margin:0 auto;
			border:1px solid #E9DAC3;
			border-radius:0.03rem;
			box-shadow:0.02rem 0.02rem 0.1rem #E9DAC3;
			display: -webkit-flex;
			display: flex;
	   		-webkit-justify-content: space-between;
	   		justify-content: space-between;
			.tablelist{
				padding-left:0.2rem;
				i{
					text-decoration:underline;
				}
			}
			.total{
				background-color:#FE0000;
				padding:0 0.2rem;
				color:white;
				text-align:center;
				border-top-right-radius:0.03rem;
				border-bottom-right-radius:0.03rem;
				
				
			}

		}
		.cooklist{
			box-sizing:border-box;
			
			width:95%;
			margin:0.2rem auto 0;
			span{
				display:inline-block;
			}
			
			.cooklist_title{
				box-sizing:border-box;
				display: -webkit-flex;
				display:flex;
				-webkit-justify-content: space-between;
	   			justify-content: space-between;
				font-size:0.15rem;
				padding:0.05rem 0;
				span:first-child{
					padding-left:0.2rem;
					
				}
				span:nth-child(2){
					padding-left:0.1rem;
				}
				span:nth-child(3){
					padding-left:0.5rem;
				}
				span:last-child{
					padding-right:0.4rem;
				}
				
				
			}
			.cooklist_data{
				border:1px solid #D8C5BF;
				box-shadow:0 0 0.1rem #E9DAC3;
				ul{
					li{
						border-bottom:4px solid #A3796B;
					    margin: 0.05rem 0.2rem;
						display: -webkit-flex;
						display:flex;
						height:0.6rem;
						-webkit-justify-content: space-between;
			   			justify-content: space-between;
			   			-webkit-align-items: center;
    					align-items: center;
						font-size:0.15rem;

						.order_cook{
							width:0.12rem;
							height:0.12rem;
							padding:0.1rem;
						}
						.title_cook{
							width:1.5rem;
							height:0.6rem;
							display:flex;
							align-items: center;
							i{
								display:inline-block;
								width:0.5rem;
								height:0.5rem;
								margin-right:0.05rem;
								img{
									width:100%;
									height:100%;
								}
								
							}
							strong{
								
								

							}
						}
						.title_num{
							padding-right:0.13rem;
							width:0.5rem;
						}
						.title_price{
							width:0.3rem;
						}
						.title_del{
							color:#CECECE;
							font-size:0.12rem;
						}
					}
				}
			}
			
		}
		.buttonList{
			position:relative;
			height:1rem;
			margin:0.1rem 0.2rem;
			.underDan{
				font-size:0.15rem;
				width:1rem;
				height:0.4rem;
				background:#FE0000;
				color:white;
			    display: block;
			    position: absolute;
			    top: 0;
			    right: 0;
			}
		}
	}

}
.el-message-box{
	width:3rem;
	height:1rem;
	.el-message-box__title{
		font-size:0.16rem;
	}
	.el-message-box__message{
		font-size:0.14rem;
	}
	.el-message-box__btns{
		button:nth-child(1){
			font-size: 0.15rem;
			
		}
		button:nth-child(2){
			font-size: 0.15rem;
			
		}
	}
}

